@font-face {
  font-family: "futura-light";
  src: url("../fonts/futura-light.ttf");
  src: url("../fonts/futura-light.eot");
  src: url("../fonts/futura-light.eot?#iefix") format("embedded-opentype"), url("../fonts/futura-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cormorant-Garamond";
  src: url("../fonts/CormorantGaramond-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FuturaBT-Medium";
  src: url("../fonts/futura-med.ttf");
  src: url("../fonts/futura-med.eot");
  src: url("../fonts/futura-med.eot?#iefix") format("embedded-opentype"), url("../fonts/futura-med.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "social";
  src: url("../fonts/social.ttf");
  src: url("../fonts/social.eot");
  src: url("../fonts/social.eot?#iefix") format("embedded-opentype"), url("../fonts/social.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Wire+One&display=swap');


body {
   background-color: rgb(252, 246, 240); 
color: #02021a;
 font-family: "futura-light", sans-serif;
 font-weight: 400;
 line-height: 1.2em;
 letter-spacing: 0.2em;
  text-transform: uppercase;
  column-span: all;
}

.no-upper {
  font-family: 'futura-light', sans-serif;
  font-weight: 400;
  letter-spacing: 0.075em;
  text-transform: none !important;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(252, 246, 233); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #02021a; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(253, 252, 251); /* creates padding around scroll thumb */
}

.blog_card {
  padding: 0;
  margin: auto;
  height: 20vw;
  width: 20vw;
}


 
.blogocontact {
  position: relative;
  top: -20px;
  width: 90%;
  margin : auto;
}

.card-audio {
  margin : 14em 3em 3em 3em;
  height: 120px;
  width : 50vw;
  
}

.tree svg { /* font awesome icons*/
font-size: 0.8em;
margin-left: 1em;
cursor: pointer;
}

.tree li {
  list-style-type: none;
}

.burger {
  font-size: 2em;
  position: fixed;
  right: 0.5em;
  top : 1em;
  z-index: 2;
}

.burger-menu {
  position: fixed;
  background-color: rgb(252, 246, 233); 
  padding-top: 8em;
  width: 100vw;
  height: 100vh;
  z-index : 1
}

.burger_item {
  padding : 1em;
}

.burger_item h2 {
  font-weight: bold;
}

.menu-contact {
  text-align: center;
  position : fixed;
  bottom : 2em;
  width : 100%;
}

.lines_spaces {
  white-space: pre-line;
}

.burger-menu .nav-item {
  width : 100vw;
}

.progress-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.react-player-soundcloud {
display: none;
position: fixed;
top: 0;
}

.barre {
  transition: 500ms !important  ;
  transition-timing-function: ease-out;
}

.barre:hover {
  top : -20px !important;
}

.left {
  text-align: left !important
}
.right {
  text-align: right !important
}

/* title */
h1 img { 
  width: 20vw;
}

h1 {
  position: relative;
  overflow: hidden;
}




h1:before, h1:after {
  position: absolute;
  top: 55%;
  width: 50%;
  height: 1px;
  content: '\a0';
  background-color: rgb(77, 77, 77);
  margin-left: 2%;
}
h1:before {
  margin-left: -52%;
  text-align: right;
}

.sticker {
  font-family: 'Cormorant-Garamond', serif;
  position: fixed;
  bottom : 25vh;
  transform-origin: top left;
  transform: rotate(-90deg);
  color: rgb(138, 141, 156);
  font-size: 2.5em;
  left: 0.8em;
;}

.rotate {
  transform: rotate(-90deg);

}

.bio_transition {
  transition: opacity 1s ease-out;
}

.bio_transition:active {
  opacity: 1;
}
  
.active-author {
  color: inherit;
  border:1px solid rgba(0, 0, 0, 0.5)!important;  
}


h2 {
  font-size: 20px;
  font-weight: 400;
}

h5 {
  letter-spacing: 0.1em;
}

h7 {
  font-size: 12px;
}

.subtitle {
  font-size: 10px;
}

.legend {
  font-size: 0.8em;
}


strong {
  font-size: 1.4em;
  font-weight: 600;
}

.nav-authors {
  width: 250px;
  font-size: 0.8em;
  letter-spacing: 0.18em;
  font-weight: 800;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;;

}

.nav-authors:focus {
  color: inherit;
  border:1px solid rgba(0, 0, 0, 0.8);  
}



a, .nav-link {  
  color: inherit;
  text-align: center;
  text-decoration: none;
  border:1px solid transparent;  

}

 .nav-link:hover {
  color: inherit;
  border:1px solid rgb(167, 166, 166);  
}

 .nav-link:focus {
  color: inherit;
  border:1px solid rgba(0, 0, 0, 0.5);  
}

.thin {
  font-weight: 100;
}

.nav {
  font-size: 12px;
  padding : 0em;
}

.cursor {
  cursor: pointer;
}

footer {
  font-size: 12px;
  font-weight: 600;

}

.modal-header {
  border: 0;
  padding-bottom: 0;
}

.admin .title {
margin-left: 5em;
}


.list-group-item {
  border: 0;
  margin : 0vw 2vw 1vw 2vw;
}

.list-group {
  padding-left: 0vw!important;
}

.modal-body {
  align-items: center;
}

.media-view {
  height: 75vh;
}

.carousel-indicators {
  position: relative;
  top: -20px;
}

.carousel-home  .carousel-indicators {
  display: none;
}

.carousel-home .media-view {
  max-height: 60vh;
  height: auto;
max-width : 80vw;
}

.bio {
  font-size: 1em;
}

.sidebar_container {
  background-color: rgb(30, 32, 53);
  color: aliceblue;
  position: fixed;
  border-radius: 30px;
  left: 2vw;
  top : 10%;

}

.sidebar_container .nav-item {
padding: 1em;
}

.card { 
  background-color: inherit;
}

.card-body {
  box-shadow: 5px 5px 5px rgba(27, 28, 46, 0.2);
}

.card_preview{
  position: relative;
  width: 150px;
  height: 150px;
  margin: auto;

}
.card_preview img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.card-admin {
  background-color: white;
  padding: 1rem;
  width: 20vw;
  height: 400px;
  margin: 0 1rem 1rem 0;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
 flex-wrap: wrap;
  background: #eee;
  padding: 2rem ;
  height: 100%;
}

.card-admin .card-footer {
height: 50px;
background-color: inherit;
}

.card-admin-add .card-footer {
height: 80px;
background-color: inherit;
}

.card-admin-add {
  height: 400px;
  background-color: burlywood;
}

.card-footer {
  text-align: center;
  background-color: inherit;
  border: 0;

}

.form-control::-webkit-input-placeholder {
  color: grey;
  padding : 10px;
}

.carousel-indicators button {
  background-color: grey!important;
}

.container_main {
padding-left: 6vw;
padding-right: 6vw;
padding-top: 2em;

}

#widget_container {
  height: 800px;
}

.media_position {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 12px;
  font-weight: bold;
}

.home .media-view {
  height: 60vh;
}

.player-wrapper {
  position: relative;
  padding-top: 45% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;


}

.no_hover {
  pointer-events: none;

}

.media_img {
width: 100%;
height: 100%;
  object-fit: cover;
}

.fade-long {
  animation: mymove 10s;
  opacity: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fade_short {
  animation: mymove 5s;
  opacity: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}



.filtre {
  filter: saturate(70%);
  transition-duration: 700ms;
}
.filtre-hard {
  filter: saturate(50%);
}

.filtre:hover {
  filter: saturate(100%)
}
.filtre-hard:hover {
  filter: saturate(100%)
}

.signin {
  border: 1px solid rgb(48, 48, 47); 
  padding-top: 25vh;
  padding-bottom: 25vh;

}

  @keyframes mymove {
    from {opacity: 0}
    to {opacity: 1}
  }


  .bio_modal {
    line-height: 2em;
    text-transform: none;
    text-align: justify;
    padding-right: 10vw;
    padding-left: 10vw;
  }

  .post_row {
    margin-top : 50px;
    justify-content:space-around;
    
  }

.blog_html {
  text-align: justify;
}


footer {
  position: relative;
  height: 50px;
}

.quote-t, .quote-b {
  font-size: 2em;
  font-weight: 600;

}

.quote-t {
  font-family: 'Cormorant-Garamond', serif;
margin-right: 0.5em;
}

.quote-b {
  font-family: 'Cormorant-Garamond', serif;
margin-left: 0.5em;

}

.comment_author {
  text-align: right;
  margin-right: 2em;
  font-weight: bold;

}

.comment_row {
  border:1px solid rgba(0, 0, 0, 0.2);  
  margin : 5vw 15vw 0vw 15vw;
  border-radius: 0.2em;
padding : 2em;
background-color: rgba(252, 246, 250, 0.5); 
}


.flag {
  font-weight: 600;
}


.flag:focus {
  color: inherit;
  border:1px solid rgb(0, 0, 0);  
}

.paper {
background-image: url(https://seartstudio.com/wp-content/themes/seartstudio/assets/dist/images/bcg.png);
background-position: center;
background-repeat: repeat;
height: 100%;
width: 100%;
position: fixed;
opacity: 80%;
top: 0;
left: 0;
z-index: -5;
}

 .shapes {
background-position: center;
background-repeat: repeat;
height: 100%;
width: 100%;
position: fixed;
opacity: 10%;
top: 0;
left: 0;
z-index: -7;

background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.title_bg {
height: 100%;
width: 100%;
position: fixed;
opacity: 5%;
top: 10%;
left: -50%;
font-size: 40vw;
font-family: 'Cormorant-Garamond', serif;
letter-spacing: 7vw;
z-index: -6;
}


.capitale {
  font-size : 5rem;
}

.comment {
  font-size: 1em;
}

.react-player-home {
  overflow:hidden;
  display:block;
  height: 65vh ;
  width: auto;
}

.react-player-home .essai {
 height: 150%!important;
 width: 120%!important;
 margin-top: -10em;
 margin-left: -8em;
}

.MediaModal {
  width: 90%;
max-width: none!important;
}

.folder .card_folder {
  margin: 1em;
  text-align: center;
  min-width: 200px;
  color:rgb(3, 5, 20);
}

.folder i {
  cursor: pointer;
}

.folder .card-text {
  text-align: left;
  background-color: ivory;
  cursor: pointer;
}

.folder .card-header {
 display: flex;
 justify-content: space-between;
}

.folder_icon {
  font-size: 5em;
}



@media (min-width: 1400px) { /* video wide */
 .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1558px;
} 
}


@media (max-width: 575.98px) { 

  .react-player-home {
    overflow:hidden;
    display:block;
    height: unset ;
    width: auto;
  }
  
  .react-player-home .essai {
   height: unset!important;
   width: 200%!important;
   margin-top: 0em;
   margin-left: -10em;
  }

  .react-player-home video {
    width : 150%;
    height : auto;
  }

  h1 img { 
    width: 50vw;
  }

  h1:before, h1:after {
    height: 0;
    content: inherit;
    background-color: transparent;
    margin-left: 2%;
  }
  h1:before {
    margin-left: -52%;
    text-align: right;
  }

  .nav-authors {
    display: none;
  }
  
  .card_media {
    width: 80vw !important;
    height: 40vh !important;
  }

  .react-player {
    height: 40vh !important;
  }

  .react-player-home {
    padding-top: 25%;
    height: auto;
    width: 90vw ;
  }

  .legend {
    font-size: 0.6em;
    letter-spacing: 2px;
  }

  .list-group-item {
    border: 0;
    margin : 10vw 0vw 5vw 0vw;
  }

  .quote-t, .quote-b {
    font-size: 2em;
  }

  .comment_row {
    margin : 5vw 5vw 0vw 5vw;
  padding : 1em;
  }

  .blog_card {
    padding: 0;
    margin: auto;
    height: 80vw;
    width: 80vw;
  }

}