@font-face {
  font-family: "futura-light";
  src: url("../fonts/futura-light.ttf");
  src: url("../fonts/futura-light.eot");
  src: url("../fonts/futura-light.eot?#iefix") format("embedded-opentype"), url("../fonts/futura-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cormorant-Garamond";
  src: url("../fonts/CormorantGaramond-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FuturaBT-Medium";
  src: url("../fonts/futura-med.ttf");
  src: url("../fonts/futura-med.eot");
  src: url("../fonts/futura-med.eot?#iefix") format("embedded-opentype"), url("../fonts/futura-med.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "social";
  src: url("../fonts/social.ttf");
  src: url("../fonts/social.eot");
  src: url("../fonts/social.eot?#iefix") format("embedded-opentype"), url("../fonts/social.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Wire+One&display=swap');


body {
   background-color: rgb(252, 246, 233); 
/*   background-color: rgb(209, 24, 24);
 */  color: #02021a;
 font-family: "futura-light", sans-serif;
 font-weight: 400;
 line-height: 1.2em;
 letter-spacing: 0.2em;
  text-transform: uppercase;
  column-span: all;
}

.no-upper {
  font-family: 'futura-light', sans-serif;
  font-weight: 400;
  letter-spacing: 0.075em;
  text-transform: none !important;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(252, 246, 233); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #02021a; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(253, 252, 251); /* creates padding around scroll thumb */
}
 
.blogocontact {
  position: relative;
  top: -30px;
  width: 90%;
  margin : auto;
}

.card-audio {
  margin : 3em;
  height: 200px;
}

.progress-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.react-player-soundcloud {
display: none;
position: fixed;
top: 0;
}

.barre {
  transition-duration: 500ms;
}

.barre:hover {
  top : -20px;
  height: 30vh;
}

.left {
  text-align: left !important
}
.right {
  text-align: right !important
}

h1 {
  position: relative;
  overflow: hidden;
  text-align: center;
}

h1:before, h1:after {
  position: absolute;
  top: 55%;
  width: 50%;
  height: 1px;
  content: '\a0';
  background-color: rgb(77, 77, 77);
  margin-left: 2%;
}
h1:before {
  margin-left: -52%;
  text-align: right;
}

.sticker {
  position: fixed;
  top : 50%;
  transform: rotate(-90deg);
  color: rgb(138, 141, 156);
  font-size: 2.5em;
  left : -6vw
;}

.rotate {
  transform: rotate(-90deg);

}

.bio_transition {
  transition: opacity 1s ease-out;
}

.bio_transition:active {
  opacity: 1;
}
  
.active {
  color: inherit;
  border:1px solid rgb(0, 0, 0) !important  
}

h1 {
  font-size: 5em;
  font-weight: 400;
  font-family: 'Cormorant-Garamond', serif;
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

h5 {
  letter-spacing: 0.3em;
}

h7 {
  font-size: 12px;
}

.subtitle {
  font-size: 10px;
}

.legend {
  font-size: 0.8em;
}

strong {
  font-size: 1.4em;
  font-weight: 600;
}

.nav-authors {
  width: 310px;
  padding: 1em;
  font-size: 15px;
  letter-spacing: 0.11em;
  font-weight: 800;
  margin-top: 0;
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 2em;;

}

.nav-authors:focus {
  color: inherit;
  border:1px solid rgb(0, 0, 0);  
}



a, .nav-link {  
  color: inherit;
  text-align: center;
  text-decoration: none;
  border:1px solid transparent;  

}

 .nav-link:hover {
  color: inherit;
  border:1px solid rgb(167, 166, 166);  
}

 .nav-link:focus {
  color: inherit;
  border:1px solid rgb(0, 0, 0);  
}

.thin {
  font-weight: 100;
}

.nav {
  font-size: 12px;
}

.cursor {
  cursor: pointer;
}

footer {
  font-size: 12px;
  font-weight: 600;

}

.modal-header {
  border: 0;
  padding-bottom: 0;
}

.admin .title {
margin-left: 5em;
}

.list-group-item {
  padding : 25px;
  border: 0;
}

.modal-body {
  align-items: center;
}

.media-view {
  height: 75vh;
}

.carousel-indicators {
  position: relative;
  top: -20px;
}

.carousel-home  .carousel-indicators {
  display: none;
}

.carousel-home .media-view {
  height: 60vh;
}

.logo {
  width: 50%;
}

.bio {
  font-size: 1em;
  line-height: 2.5em;
}

.sidebar_container {
  background-color: rgb(30, 32, 53);
  height: 100vh;
  color: aliceblue;

}

.sidebar_container .nav-item {
padding: 2em;
}

.s-icon {
  margin-right: 1em !important;
}

.card { 
  background-color: inherit;
}

.card-body {
  box-shadow: 5px 5px 5px rgba(27, 28, 46, 0.2);

}

.card-admin {
  height: 350px;
}

.card-admin .card-footer {
height: 50px;
background-color: inherit;
}

.card-admin-add .card-footer {
height: 80px;
background-color: inherit;
}

.card-admin-add {
  height: 350px;
  background-color: burlywood;
}

.card-footer {
  text-align: center;
  background-color: inherit;
  border: 0;
  margin-top: 2em;
  margin-bottom: 2.5em;
}

.form-control::-webkit-input-placeholder {
  color: grey;
  padding : 10px;
}

.carousel-indicators button {
  background-color: grey!important;
}

.container_main {
padding-left: 6vw;
padding-right: 6vw;
}

.media_position {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 12px;
  font-weight: bold;
}

.home .media-view {
  height: 60vh;
}

.player-wrapper {
  position: relative;
  padding-top: 45% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;


}

.no_hover {
  pointer-events: none;

}

.media_img {
width: 100%;
height: 100%;
  object-fit: cover;
}

.fade-long {
  animation: mymove 10s;
  opacity: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fade_short {
  animation: mymove 5s;
  opacity: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.frame {position:relative}
.frame:before, .frame:after, .frame>:first-child:before, .frame>:first-child:after {
    position:absolute; content:' ';
    width:70px; height: 80px;
    border-color: rgb(151, 151, 151);
    border-style:solid; /* or whatever style */
}
.frame:before {top:0;left:0;border-width: 1px 0 0 1px}
.frame:after {top:0;right:0;border-width: 1px 1px 0 0}
.frame>:first-child:before {bottom:0;right:0;border-width: 0 1px 1px 0}
.frame>:first-child:after {bottom:0;left:0;border-width: 0 0 1px 1px}


.filtre {
  filter: saturate(70%);
  transition-duration: 700ms;
}

.filtre:hover {
  filter: saturate(100%)
}

.signin {
  border: 1px solid rgb(48, 48, 47); 
  padding-top: 25vh;
  padding-bottom: 25vh;

}

  @keyframes mymove {
    from {opacity: 0}
    to {opacity: 1}
  }


  .bio_modal {
    line-height: 2em;
    text-transform: none;
    text-align: justify;
    padding-right: 10vw;
    padding-left: 10vw;
  }

  .post_row {
    margin-top : 50px;
    justify-content:space-around;
    
  }

.blog_html {
  text-align: justify;
}


footer {
  position: relative;
  height: 50px;
}

.quote-t {
  font-size: 5em;
  font-weight: 300;
  font-family: 'Cormorant-Garamond', serif;
  vertical-align: text-top !important;
padding: 0;
margin: 0;
}

.quote-b {
  font-size: 5em;
  font-weight: 300;
  font-family: 'Cormorant-Garamond', serif;
  vertical-align: text-bottom;
padding: 0;
margin: 0;
}

.addcomment {
  position: fixed;
  right: 60px;
  bottom : 5vh; 
  font-size: 0.8em;
}

.modal_comment .modal-dialog {
  max-width: 1000px;
}


.flag {
  font-weight: 600;
}


.flag:focus {
  color: inherit;
  border:1px solid rgb(0, 0, 0);  
}

.paper {
background-image: url(https://seartstudio.com/wp-content/themes/seartstudio/assets/dist/images/bcg.png);
background-position: center;
background-repeat: repeat;
height: 100%;
width: 100%;
position: fixed;
opacity: 80%;
top: 0;
left: 0;
z-index: -5;
}

 .shapes {
background-position: center;
background-repeat: repeat;
height: 100%;
width: 100%;
position: fixed;
opacity: 10%;
top: 0;
left: 0;
z-index: -7;

background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.title_bg {
height: 100%;
width: 100%;
position: fixed;
opacity: 5%;
top: 10%;
left: -50%;
font-size: 40vw;
font-family: 'Cormorant-Garamond', serif;
letter-spacing: 7vw;
z-index: -6;
}


.capitale {
  font-size : 5rem;
}

.title {
  font-size: 4rem;
  font-family: 'Cormorant-Garamond', serif;
  text-transform: none;


}

.comment {
  font-size: 1.2em;
  line-height: 3em;
}

@media (max-width: 575.98px) { 

  
  .card_media {
    width: 80vw !important;
    height: 40vh !important;
  }

  .react-player {
    height: 40vh ! important;
  }

  .legend {
    font-size: 0.6em;
  }

  .comment {
    font-size: 0.5em;
  }

  .quote-t, .quote-b {
    font-size: 5em;
  }

  .addcomment {
    font-size: 0.6em;

  }
}