@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura-Light.woff2") format("woff2"),
    url("../fonts/Futura-Light.woff") format("woff");
}

body {
  font-family: "Futura", sans-serif;
  font-weight: 400;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  column-span: all;
}

h1 {
  font-weight: lighter;
}

h2 {
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.11em;
}

.nav-authors {
  width: 200px;
  font-size: 15px;
  letter-spacing: 0.11em;
  font-weight: 800;
}

.nav-authors:focus {
  color: inherit;
  border:1px solid rgb(0, 0, 0);  

}

a, .nav-link {  
  color: black;
  text-decoration: none;
  border:1px solid white;  
  padding-top: 2.7px;
  padding-bottom: 2.7px;
  padding-left: 5.4px;
  padding-right: 5.4px;
  margin: 6px;
}

 .nav-link:hover {
  color: inherit;
  border:1px solid rgb(167, 166, 166);  

}

 .nav-link:focus {
  color: inherit;
  border:1px solid rgb(0, 0, 0);  

}

.thin {
  font-weight: 100;
}

.nav {
  font-size: 12px;
  font-weight: 600;
}

.cursor {
  cursor: pointer;
}

footer {
  font-size: 12px;
  font-weight: 600;

}

.modal-header {
  border: 0;
  padding-bottom: 0;
}


.list-group-item {
  padding : 0;
  margin : 5px;
  border: 0;
}

.modal-body {
  align-items: center;
}

.media-view {
  height: 75vh;
}

.carousel-indicators {
  position: relative;
  top: -20px;
}





